@{
    ViewData["Title"] = "Ajout Utilisateur";
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="/Utilisateur/Add" class="col-xl-4 col-lg-6" >
    <div class="mb-3">
        <label class="form-label" for="Nom">Nom</label>
        <input class="form-control" type="text" name="Nom" id="Nom" placeholder="Nom">
    </div>
    <div class="mb-3">
        <label class="form-label" for="MotDePasse">Mot de passe</label>
        <input class="form-control" type="password" name="MotDePasse" id="MotDePasse" placeholder="Mot de passe">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Email">Email</label>
        <input class="form-control" type="email" name="Email" id="Email" placeholder="Votre email">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>